.custom_antd_Table .ant-table td {
  text-wrap: balance !important;
  font-size: 13px;
  padding: 1px;
}

.custom_antd_Table .ant-table th {
  text-wrap: balance !important;
  font-size: 13px;
  padding: 1px;
}
